{% extends "base.html" %}

{% block content %}
  <section id="content">
    <h1>Monthly Goals</h1>
    <div class="goal-category monthly-goals">
      <h2>Monthly Goals</h2>
      <ul id="monthly-goals-list"></ul>
    </div>
  </section>

  <section id="input">
    <div>
      <h3>Add a New Monthly Goal</h3>
      <form id="goal-form">
        <input type="text" id="goal-input" placeholder="Enter your goal" required>
        <button type="submit">Add Goal</button>
      </form>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
